[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint-runner = "==0.5.4"
pylint = "==2.4.4"
paramiko = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.6"